.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ff8400;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000; 
}

.logo {
    height: 40px;
}

.header-message {
    color: #ff8400;
    font-size: 16px;
}


@media (max-width: 600px) {
    .header-message {
        display: none;
    }
}
